.dialog-body {
       
    -fx-background-color: -fx-background;  
    -fx-effect: dropshadow(one-pass-box, #555555, 20, 0.5, 3, 3);
}

.dialog-close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 16px;
    -fx-alignment: center;
    -fx-padding: 8px 12px 8px 12px; 
    -fx-text-fill: #555555;
}
.dialog-close-button:hover {
    -fx-background-color: #dddddd;
}

.dialog-close-button:armed {
    -fx-background-color: #a4a4a4;
}

.dialog-title-text {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill:#333333;
    -fx-effect: dropshadow(one-pass-box, #cccccc, 1.0, 0.0, 1.0, 1.0);           
}
.dialog-title {
 
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 5 10 5 10;
}

.dialog-content {
    -fx-padding: 15 15 15 15;    
}

.dialog-indicator {
    -fx-padding: 15 0 15 15;        
}

.dialog-buttonlist {
    -fx-padding: 10 10 10 10;    
}
